/*Fichier CSS*/

@charset "UTF-8";

/*Pour s'assurer que l'encodage des feuilles de style externes suit bien la norme UTF8*/

/******************
    la totale 
*******************/

* {
    margin: 0 auto;
    padding: 0;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

/*Couleurs dimentionnement positionnement des différents blocs*/
html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
	display : table;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

footer{
	display : table-row;
	width: 100%;
	height: 100px; /* à titre d'exemple */
    bottom: 0; 
    left: 0; 
    right: 0;
    position: absolute; 
}
.nomargin{
	margin: 0;
}
/*Media queries*/
@media print {
    #menu,
    #footer {
        display: none;
    }
    body {
        font-size: 120%;
        color: black;
    }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container {
  text-align: center;
}
/******************
	navbar
******************/

.container-fluid{
	background-color: white;
}
.navbar-default{
    background-color: transparent;
    border-color: transparent;
}
.navbar{
	margin-bottom: 0em;
}
.navbar-default{
	padding: 0em !important;
}
/****************************************Acceuil****************************************/
.imghome{
	min-height: 146em;
	width: auto;
	background:url(../img/home-exportation.jpg) no-repeat center center;
  	margin:0;
	padding:0;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}
/******************
	bloc 1
******************/
/*#bloc1{
	background-color: white;
	background-image:url(../img/p1-paillette-gauche.png);
	background-position: 0% 0%;
	background-repeat: no-repeat;
	height: 28em;
}*/

/******************
	bloc 2
******************/
/*#bloc2{
	background-color: #F3EFEB;
	background-image:url(../img/p1-paillette-droite.png);
	background-position: 100% 100%;
	background-repeat: no-repeat;
	height: 23em;
}
.textbloc2{
	margin: 0 auto;
	text-align: center;
	font-family: "OstrichSans-Heavy", sans-serif;
	font-size: 20pt;
	float: none;
}
.spaceb{
	margin: 1.5em 0;
}

.textsuite{  
	margin: 0 auto;
	text-align: center;
	font-size: 14pt;
	float: none;
}
.col {
    display: inline-block;
  
}
.column {
	padding-top: 1em;
    text-align: center;
}
#bloc3{
	height: 60em;
	width: 100%;
	display: block;
  	position: relative;
}*/
/*For background-opacity,you can fake it by inserting a pseudo 
element with regular opacity the exact size of the element behind it.*/
/*#bloc3::after {
  content: "";
  background:url(../img/p2-background.jpg) no-repeat center center fixed;
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
.textbloc3{
	margin: 0 auto;
	text-align: center !important;
	font-size: 2em;
	color: white;
} 
.imgbloc3{
	margin-top: 12em;
}
.line {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#separateurorange{ 
background-image:url(../img/p2-barre-orange.png); 
background-size: cover;
height: 0.8em;
width: 100%;
}
*/
/******************
	bloc 4
******************/
/*
.actua{
	margin-top: 2em;
}
.titlebloc{
	font-size: 21px;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}
#bloc4{
	height: 30em;
	background-image:url(../img/p3-paillettegauche.png), url(../img/p3-paillette-droite.png); 
	background-position: 0% 0%, 100% 0%;
	background-repeat: no-repeat;	
}*/
.endfile{
	margin: 0 auto;
}
.actua{
	padding-right: 4em;
	margin-left: 6em;
	text-align: center;
}
.titlehome{
	color: orange;
	font-size: 14pt;
	margin-bottom: 0.5em;
	text-align: left;
	
}
.monimage{
	border: 0;
	padding: 0;
	margin: 0;
	display: block;
	width: 100%;
	height: auto;
}
.bloc_orange{
	width: 100%;
	height: 0.6em;
	background-color: orange;
	padding-top: 0.5em;
}
.endhome{
	margin-bottom: 4em;
}

/****************************************Parcours****************************************/
.lecv{
	height: 90em;
	width: 100%;
	background:url(../img/cv.pdf) no-repeat center center;
	background-size: contain; /* version standardisée */
}
/****************************************Présentation****************************************/
#blocpres{
	min-height: 45em;
}	
.presentation{
	margin: 1em 2em;
}
.centrage{
	padding-top: 8em;
	padding-left: 8em;
}
.titlepres{
	text-align: justify;
	font-size: 2em;
}
.textpres{
	text-align: justify;
}
/****************************************Prestations et démarches****************************************/
.pailletteleft{
	float: left;
}
.pailletteright{
	float:right;
}

#prestation{
	text-align: center;
}
.bigtitlepresta{
	margin: 0;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	font-size: 2.7em;
}
.sizemiddle{
	margin: 6em 0em;
}
.prestapicto{
	margin-top: 2em;
}
.titlepresta{
	font-family: "Oswald",sans-serif;
	font-weight: 400;
	font-size: 1.4em;
	margin-top: 1.5em;
}
.textpresta{
	font-family: "Raleway", sans-serif;
	font-weight: 400;
}
.boutonplus{
	margin-top: 1em;
}
/******************pages vue des sous-prestations et sous-demarche*****************************/
.titleunderview{
	margin: 0;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	font-size: 2.7em;
	margin-bottom: 0.5em;
}
.insideunderview{
	margin: 1em 0;
}
.centerunderview{
	text-align: center;
	display: inline-block;
}
.textunder{
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	margin-top: 3em;
	text-align: justify;
}
/************************************** réalisations **********************************/
.sizereal{
	min-height: 45em;
}
.realtitle{
	margin: 0;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	font-size: 2.7em;
	text-align: center;
} /*titre de page*/
.align{
	display: block;
	text-align: center;
	margin-bottom: 2em;
} /*banderole*/

.realcolumn {
	margin: 0;
	text-align: center;
} /*les colones*/
.titlereal{
	color: orange;
	font-size: 16pt;
	margin-bottom: 0.3em;
}/*mon titre de realisation*/

.textreal{
	text-align: center;
	display: block;
}

.blocrealorange{
	width: 100%;
	height: 0.4em;
	background-color: orange;
	padding-top: 0.5em;
}

/*au survol*/
.ausurvolreal {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}
.survolreal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1em;
}
.ausurvolreal:hover img {
   /* transform: scale(1.2);*/
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    opacity: 0.8;
}
.monimg{	
	
}

/*le bouton orange*/
.btnrealstye {
	color: orange;
	font-size: 1.2em;
}
a.btnrealstye.active:hover{
	color:black;
	text-decoration-line: none;
} /*supprimer les couleurs et surlignage du survol du lien*/
.spacebtwrealfooter{
	margin-bottom: 5em;
}

/*VIEW ONE PAGE ONE REAL*/
.onepagereal{
	text-align: center;
	min-height: 60em;
}
.blocreal{
	width:30em;
	height:auto;
/*	background:#F3EFEB;*/
	padding-bottom: 1em;
}
.monimage{
	width: 20em;
	height: 20em;
	margin: 0 auto;
}
.monimage:hover  {
   /* transform: scale(1.2);*/
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    opacity: 0.8;
}
.texteonereal{
	margin: 0 auto;
	padding: 1em;
	text-align: justify;
	width: 30em;
}
.linksitereal{

}
/********************************** Partenaires ****************************************/
.mespartenaires{
	margin-bottom: 1em; 
	text-align: center;
}
#partenaires{
	text-align: center;
	min-height: 115em;
}
.logoimg{ 
	border: 0;
	padding: 0;
	margin: 0;
	display: block;
	height: 15em;
	width : 100%;
}
.partenairefigure {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}
img, .prestastyle {
    transition: all .25s ease;
}
.prestastyle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.5em;
    background: #000;
    background: rgba(0, 0, 0, .75);
    color: #fff;
    opacity: 0;
}
.partenairefigure:hover img {
    transform: scale(1.2);
}
.partenairefigure:hover .prestastyle {
    opacity: 1;
}
.titlepartenaire{
	color: orange;
}
.textpartenaire{

}
.sitename{
	color: white;
}
.sitename:hover{
	color: white;
	font-size: 16px;
}
/******************
	contact
******************/
.contact{
	margin: 8em 10em;
}
/******************
	footer
******************/
.bas{
	height: 5em;
	text-align: center;
    font-size: 1.2em;
    background-color: #F3EFEB;
    padding: 2em;
    color: black;
}
 
 


