/*Fichier CSS*/

@charset "UTF-8";

/*Pour s'assurer que l'encodage des feuilles de style externes suit bien la norme UTF8*/

/******************la totale *******************/
* {
    margin: 0 auto;
    padding: 0;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
/*Couleurs dimentionnement positionnement des différents blocs*/
html, body, main {
	height: 100%;
	margin: 0; padding: 0;
}
body {
	display : table;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}
footer{
	display : table-row;
	width: 100%;
	height: 100px; /* à titre d'exemple */
    bottom: 0; 
    left: 0; 
    right: 0;
}
.nomargin{
	margin: 0;
}
/*Media queries*/
@media print {
    #menu,
    #footer {
        display: none;
    }
    body {
        font-size: 120%;
        color: black;
    }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media screen and (min-width: 640px) {
	.bloc {
    display:block;
    clear:both;
  }
}
.container {
  text-align: center;
}
.container {
  display: table;
}
.row {
  display: table-row;
  height: 100%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  display: table-cell;
}
/******************
	navbar
******************/
.container-fluid{
	background-color: white;
}
.navbar-default{
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0em;
    margin-right: 1em;
}
.navbar{
	margin-bottom: 0em;
}
.navbar-default{
	padding: 0em !important;
}
/****************************************ACCUEIL****************************************/
.imghome{
	min-height: 165em;
	width: auto;
	background:url(../img/home-exportation.jpg) no-repeat center center;
  	margin:0;
	padding:0;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}

.endfile{
	margin-top: 4em;
}
.titlehome{
	color: orange;
	font-size: 14pt;
	margin-bottom: 0.5em;
	text-align: left;
}
.bloc_orange{
	width: 100%;
	height: 0.6em;
	background-color: orange;
	padding-top: 0.5em;
}
.endhome{
	margin-bottom: 4em;
}
/****************************************PARCOURS***************************************/
.btnloadcv{
	margin-top: 2em;
	text-align: center;
}
.textcv{
	font-size: 1.4em;
}
.lecv{
	height: 150em;
	width: auto;
	background:url(../img/cv-1.jpg) no-repeat center center;
	background-size: contain; /* version standardisée */
	-webkit-background-size: contain; /* pour anciens Chrome et Safari */
}
.lecv2{
	height: 150em;
	width: auto;
	background:url(../img/cv-2.jpg) no-repeat center center;
	background-size: contain; /* version standardisée */
	-webkit-background-size: contain; /* pour anciens Chrome et Safari */
	margin-bottom: 4em;
}
/****************************************PRÉSENTATION****************************************/
.presentation{
	height: 58em;	
	margin-top: 5em;
}
.centrage{
	margin: 0 auto;
	width: 90em;
}
.titlepres{
	text-align: justify-all;
	font-size: 2em;
}
.textpres{
	text-align: justify-all;
	font-size: 1.4em;
}
.pailletter{
	float:right;
	bottom: 12em;
  	right: 0;
    position: absolute;
}

/****************************************PRESTA / DEMARCHES****************************************/
.pailletteleft{
	float: left;
	top: 5em;
  	left: 0;
  	position: absolute;
  	margin-right: 1em;
}
.pailletteright{
	float:right;
	bottom: 6.2em;
  	right: 0;
    position: absolute;
}
#prestation{
	text-align: center;
}
.bigtitlepresta{
	margin: 0;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	font-size: 2.7em;
	margin-top: 0.5em;
}
.sizemiddle{
	margin: 6em 0em;
}
.prestapicto{
	margin-top: 2em;
}
.titlepresta{
	font-family: "Oswald",sans-serif;
	font-weight: 400;
	font-size: 1.4em;
	margin-top: 1.5em;
}
.textpresta{
	font-family: "Raleway", sans-serif;
	font-weight: 400;
}
.boutonplus{
	margin-top: 1em;
}
/*espacements entre les pictos de démarches et prestations*/
.mespicto{
	margin-bottom: 4em;
}
/******************pages vue des SOUS PRESTATIONS et SOUS DEMARCHES*****************************/
.titleunderview{
	margin: 0;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	font-size: 2.7em;
	margin-top: 0.5em;
}
.insideunderview{
	margin: 1em 0;
}
.centerunderview{
	text-align: center;
	display: inline-block;
}
.textunder{
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	font-size: 1.4em;
	margin-top: 3em;
	margin-bottom: 2em;
	text-align: justify;
}
/************************************** RÉALISATIONS **********************************/
.sizereal{
	min-height: 45em;
/*tailles de pages*/
}
.realtitle{
	margin: 0;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	font-size: 2.7em;
	text-align: center;
	margin-top: 0.5em;
} /*titre de page*/
.align{
	display: block;
	text-align: center;
	margin-bottom: 4em;
	
} /*banderole*/
.realcolumn {
	margin: 0;
	text-align: center;
} /*les colones*/
.titlereal{
	color: orange;
	font-size: 16pt;
	margin-bottom: 0.3em;
}/*mon titre de realisation*/
.textreal{
	text-align: center;
	display: block;
}
.blocrealorange{
	width: 100%;
	height: 0.4em;
	background-color: orange;
	padding-top: 0.5em;
}
/*problème de placement dans le row*/
.annuletablerow{
	display: inline-block;
}
/*au survol*/
.ausurvolreal {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}
.survolreal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1em;
}
.ausurvolreal:hover img {
   /* transform: scale(1.2);*/
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    opacity: 0.8;
}
.monimg{	
}
/*le bouton orange*/
.btnrealstye {
	color: black;
	font-size: 1em;
	text-align: right;
	position:relative;
	right:-7em;
	font-weight: bold;
}
a.btnrealstye.active:hover{
	color:orange;
	text-decoration-line: none;
} /*supprimer les couleurs et surlignage du survol du lien*/
.spacebtwrealfooter{
	margin-bottom: 5em;
}
/************************VIEW ONE PAGE ONE REAL**********************/
.onepagereal{
	margin: 0 auto;
	margin-top: 15em;
}
.blocreal{
	/*width:30em;
	height:auto;
	padding-bottom: 1em;*/
}
.monimage{
	width: 20em;
	height: 20em;
}
.monimage:hover  {
   /* transform: scale(1.2);*/
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    opacity: 0.8;
}
.texteonereal{
	text-align: justify;
}
.spacetitle {
	margin-left: 0;
}
/********************************** PARTENAIRES ****************************************/
.smaltitlepartenaire{
	margin: 0;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	font-size: 1.7em;
	margin-top: 0.5em;
	text-decoration:underline;
	color: orange;
}
.mespartenaires{
	margin-bottom:1em; 
	text-align: center;
	padding: 1em;
}
#partenaires{
	text-align: center;
	min-height: ;
}
.logoimg{ 
	border: 0;
	padding: 0;
	display: block;
	text-align: center;
	margin: 0 auto;
}
.partenairefigure {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    height: 15em;
    width: 15em;
}
img, .prestastyle {
    transition: all .25s ease;
}
.prestastyle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.5em;
    background: #000;
    background: rgba(0, 0, 0, .65);
    color: #fff;
    opacity: 0;
}
.partenairefigure:hover img {
    transform: scale(1.2);
}
.partenairefigure:hover .prestastyle {
    opacity: 1;
}
.titlepartenaire{
	color: orange;
	font-size: 1.2em;
	margin-top: 2em;
}
.textpartenaire{

}
.sitename{
	color: white;
}
.sitename:hover{
	color: orange;
	font-size: 1.2em;
}
/***********************************CONTACT**************************************/
.imgcontact{
	background:url(../img/contact4.jpg) no-repeat center center;
	min-height: 58em;
	width: auto;
	background-size: cover;
}
.textcontact{
	font-size: 2em;
}
.contact{
	padding-top: 1em;
	opacity: 1;
	color: white;
	text-align: center;
}
.titlecontact{  
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 2.7em;
    text-align: center;
    margin: 0;
}

/**************************************FOOTER**************************************/
.bas{
	height: 10em;
	text-align: center;
    font-size: 1.2em;
    background-color: #F3EFEB;
    padding: 2em;
    color: black;
}
 
 


