/*Fichier CSS*/

@charset "UTF-8";

/*Pour s'assurer que l'encodage des feuilles de style externes suit bien la norme UTF8*/

/******************
    la totale
*******************/

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

/*Couleurs dimentionnement positionnement des différents blocs*/

html,
body{
    position: relative;
}
footer{
    
    margin-top: 1em;
    bottom: 0; 
    left: 0; 
    right: 0;
}
.nomargin{
	margin: 0;
}

@media print {
    #menu,
    #footer {
        display: none;
    }
    body {
        font-size: 120%;
        color: black;
    }
}

@media screen and (max-width: 640px) {
    .bloc {
        display: block;
        clear: both;
    }
}

@media screen and (min-width: 200px) and (max-width: 640px) {
    .bloc {
        display: block;
        clear: both;
    }
}

/**
 	LE BACK OFFICE
     * Override feedback icon position
     * See http://formvalidation.io/examples/adjusting-feedback-icon-position/
 	 */
    #eventForm .form-control-feedback {
        top: 0;
        right: -15px;
    }
.realtitle{
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 2.7em;
    text-align: center;
}
.align{
    display: block;
    text-align: center;
}

/******************
    footer
******************/
.bas{
    height: 5em;
    text-align: center;
    font-size: 1.2em;
    background-color: #F3EFEB;
    padding: 2em;
    color: black;
}
